@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease !important;
}

:root {
    --bg-color: #E4EDEC;
    --secondary: #F57E57;
    --light: #EEF9FF;
    --main: #5bd3c7;
    --main-hover: #ffbd59;
    --dark: #000;
}

/* OpenSans Start here */
@font-face {
    font-family: 'OpenSans-Light';
    src: url('/assets/fonts/OpenSans-Light.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('/assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('/assets/fonts/OpenSans-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('/assets/fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-display: swap;
}

/* OpenSans End here */

a {
    text-decoration: none;
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

/* Navbar Start here */

@media (max-width: 992px) {

    .navbar-nav {
        text-align: center;
    }

    .mamce-logo {
        width: 250px;
    }
}

@media (max-width: 769px) {

    .mamce-logo {
        width: 230px;
    }
}

@media (max-width: 500px) {

    .mamce-logo {
        width: 200px;
    }
}

/* Navbar End here */

/* Carousel Start here */
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 3);
    background-size: 50%, 50%;
    border-radius: 8px;
    padding: 20px;
}
/* Carousel End here */

