@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease !important;
}

:root {
    --bg-color: #E4EDEC;
    --white: #fff;
    --main: #ca3521;
    --dark: #000;
}

/* OpenSans Start here */
@font-face {
    font-family: 'OpenSans-Light';
    src: url('/assets/fonts/OpenSans-Light.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('/assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('/assets/fonts/OpenSans-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('/assets/fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-display: swap;
}

/* OpenSans End here */

a {
    text-decoration: none;
}

h2::selection {
    background-color: var(--main);
    color: var(--white);
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

/* Navbar Start here */
@media (max-width: 992px) {

    .mamce-logo {
        width: 250px;
    }
}

@media (max-width: 769px) {

    .mamce-logo {
        width: 230px;
    }
}

@media (max-width: 500px) {

    .mamce-logo {
        width: 170px;
    }
}

/* Navbar End here */

/* Vertical Button Start here */
.vertical-button1 {
    position: fixed;
    top: 65.5%;
    right: 0%;
    transform: translateY(-50%), ;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    text-align: center;
    font-weight: 500;
    border: none;
    cursor: pointer;
    z-index: 1050;
}

.vertical-button {
    position: fixed;
    top: 40%;
    right: 0%;
    transform: translateY(-50%), ;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    text-align: center;
    font-weight: 500;
    border: none;
    cursor: pointer;
    z-index: 1050;
}

.modal-content {
    border-radius: 10px;
    padding: 25px;
}

/* Vertical Button End here */

/* Carousel Start here */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    padding: 30px;
}

@media (max-width: 769px) {

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        padding: 20px;
    }

    .vertical-button1 {
        top: 58.2%;
        right: 0%;
    }
}

@media (max-width: 500px) {

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        padding: 6px;
    }

    .vertical-button1 {
        top: 58.2%;
        right: 0%;
    }
    .vertical-button {
        position: fixed;
        top: 30%;
        right: 0%;
        transform: translateY(-50%), ;
        transform: rotate(180deg);
        writing-mode: vertical-rl;
        text-align: center;
        font-weight: 500;
        border: none;
        cursor: pointer;
        z-index: 1050;
    }
}

/* Carousel End here */

/* About Start here */
.title {
    font-size: 2.4rem;
}

@media (max-width: 500px) {

    .title {
        font-size: 2rem;
    }
}

/* About End here */

/* Get More Info Start here */
.info-inner {
    position: relative;
    overflow: hidden;
}

.info-inner::before,
.info-inner::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    transition: .5s;
}

.info-inner::after {
    left: auto;
    right: 0;
}

.info-inner:hover::before,
.info-inner:hover::after {
    width: 50%;
}

.info-inner .info-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
    z-index: 333;
    opacity: 0;
}

.info-inner:hover .info-text {
    transition-delay: .3s;
    opacity: 1;
}

.info-inner .info-text .btn:hover {
    background: var(--primary);
    color: var(--light);
}

/* Get More Info Start here */

/* Courses Style Start here */
.courses-item {
    border: 2px solid #adadad;
}

.courses-item:hover {
    transform: scale(1.05);
}

/* Courses Style End here */

/* Departments Start here */
.dep-banner div div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dep-banner div div h2 {
    font-size: 3rem;
}

.about-dep-head div {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18%;
    border: 3px solid #ca3521;
    opacity: 0.6;
}

.sidebar {
    border-right: 1px solid #ddd;
    height: 100%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px 20px;
    cursor: pointer;
}

.sidebar li.active {
    background-color: #f8f9fa;
    font-weight: bold;
    border-left: 4px solid #ca3521;
}

.sidebar li:hover {
    background-color: #f1f1f1;
}

.box {
    border: 2px solid #cce5ff;
    border-radius: 8px;
    padding: 1rem;
    margin-top: 20px;
    background: #f9f9f9;
}

@media (max-width: 769px) {

    .dep-banner div div h2 {
        font-size: 4rem;
    }

    .dep-banner div img {
        height: 100vh;
    }

    .sidebar {
        border-right: none;
        border-bottom: 1px solid #ddd;
        height: auto;
    }

    .sidebar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sidebar li {
        border-left: none;
        flex: 1 1 100%;
        text-align: center;
    }

    .sidebar li.active {
        background-color: #f8f9fa;
        border-left: none;
        border-bottom: 2px solid #ca3521;
    }

}

@media (max-width: 500px) {

    .dep-banner div div h2 {
        font-size: 3rem;
    }

}

/* Departments End here */

/* Administration Start here */

@media (max-width: 993px) {

    .reverse-sm {
        flex-direction: column-reverse;
    }

}